*,
*:before,
*:after {
	box-sizing: border-box;
}

.Home {
	text-align: center;
	/* background: rgb(57, 165, 235);
	background: linear-gradient(
		45deg,
		rgba(57, 165, 235, 1) 0%,
		rgba(222, 237, 236, 1) 100%
	); */
	background-color: #33aabd;
	overflow-y: auto;
	height: 672px;
	font-family: 'Montserrat', sans-serif;
}

.Home h1 {
	text-shadow: 1px 1px 5px #eee;
	/* color: #e7d5f5; */
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	width: 35%;
	height: 250px;
	margin: 50px auto;
	font: inherit;
	border-radius: 10px;
	background-color: white;
	box-shadow: -1px 5px 38px 0px rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: -1px 5px 38px 0px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: -1px 5px 38px 0px rgba(0, 0, 0, 0.37);
}

.Home input {
	display: block;
	width: 60%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid #eee;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
}

.Home input[type='date'] {
	cursor: pointer;
}

.Home button {
	-webkit-border-radius: 34;
	-moz-border-radius: 34;
	border-radius: 34px;
	text-shadow: 2px 2px 3px #666666;
	-webkit-box-shadow: 4px 3px 12px #473247;
	-moz-box-shadow: 4px 3px 12px #473247;
	box-shadow: 4px 3px 12px #473247;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #a55fde;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin: 35px 0 20px 0;
	cursor: pointer;
}

.Home button:hover {
	background: #0d1114;
	text-decoration: none;
}
